exportPattern("^[[:alpha:]]+")
import("survival")
import("ggplot2")
import("data.table")
importFrom(riskRegression, predictCox)
importFrom(Rmisc, multiplot)
importFrom("stats", "dfbeta", "median", "residuals", "sd", "as.formula")
